<main class="mdl-layout__content">
<div class="mdl-layout__tab-panel" id="about">
    <section class="section--footer mdl-color--white mdl-grid">
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--red-700 section__circle--big"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5> AT PIT CREW, WE COME TO YOU FOR A CHANGE.</h5>
        By calling Pit Crew, you are getting so much more than an oil change , you are getting peace of mind.
        The peace of mind that you have your own team of mechanics who will come to you, where you live or work.
        The peace of mind in knowing that all of our services and features are offered to you at prices that beat our competition. Peace of mind knowing that Pit Crew's used oil is always recycled and our system is designed for a minimal impact on the planet we call home.
        Call Pit Crew today, and you'll be a customer for life.
      </div>
    </section>
  </div>

</main>
