
  <div class="mdl-layout__content">

    <div class="mdl-layout-spacer"></div>



    <section class="section--center mdl-grid mdl-shadow--2dp">
      <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--red-500 mdl-color-text--gray">

      </header>
      <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">

          <h3 class="mdl-typography--font-light"> Contact: </h3>

        </div>
        <div class="mdl-card__actions">
          <ul>
            <li>Schedule an appointment</li>
            <li>Call: RALEIGH/DURHAM   1.844.974.8273</li>
            <li><a href="https://www.facebook.com/Pit-Crew-Oil-1500773540229696/?ref=hl">Facebook</a></li>
            <li>1-844-9-PITCREW</li>
            <li>oilchange@pitcrewautocare.com </li>
          </ul>

          calendly.com/pitcrewauto

        </div>
        <div class="mdl-card__supporting-text">

          <h3 class="mdl-typography--font-light"> Coverage: </h3>
          <img src="images/coverage.png" alt="Google Maps" height="40" width="90" />

        </div>


      </div>

    </section>
      <div class="mdl-layout-spacer"></div>
  </div>
