<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel FAQ-page" id="FAQ">

    <div class="content-grid mdl-grid mdl-cell--4-col-phone">
      <div class="mdl-grid mdl-cell mdl-card mdl-cell--12-col mdl-shadow--4dp">
        <div class="mdl-card__title center-align">
          <h3 class="mdl-typography--font-light"> FAQ</h3>
          </div>


        <ul class="FAQ-list mdl-list">
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">car</i>
              <span>Q: What do you do with my car’s used oil?</span>
              <span class="mdl-list__item-text-body">
                A: PitCrew cares about the planet we call home. All used oil is delivered to disposal companies that recycle the oil. Oil is never dumped down drains or into waterways.
              </span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <i class="material-icons mdl-color-text--red-700">star</i>
            </span>
          </li>
          <br></br>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">circle</i>
              <span>Q: What is the Pit Pass 3-Pack and the Crew Chief 5-Pack? and how much money can I save?</span>
              <span class="mdl-list__item-text-body"> A: Both of these packages allow you to save money by pre-purchasing a set of oil changes. Purchase the Pit Pass 3-Pack and your following oil change will be 50% off.
                  The Crew Chief 5-Pack gets you a FREE oil change! It's that easy.
              </span>
            </span>
            <span class="mdl-list__item-secondary-content">
            <i class="material-icons mdl-color-text--red-700">star</i>
            </span>
          </li>
          <br></br>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">circle</i>
              <span>Q: Are there any other discounts?</span>
              <span class="mdl-list__item-text-body">
                A: We would love to give additional discounts for any customer who gets their oil changed the same day as a co-worker. Less travel saves us time and money, and we’d be happy to pass that savings along to you!
              </span>
            </span>
            <span class="mdl-list__item-secondary-content">
              <i class="material-icons mdl-color-text--red-700">star</i>
            </span>
          </li>
          <br></br>
          <p><i>Any more questions? Give us a call at 1-844-974-8273</i></p>
        </ul>

    </div>
  </div>



  </div>
</main
