<!-- <h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p> -->

 <main class="mdl-layout__content">
   <div class="mdl-layout__tab-panel is-active" id="overview">
     <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
       <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--red-500 mdl-color-text--gray">
         <i class="material-icons">build</i>
       </header>
       <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
         <div class="mdl-card__supporting-text">

           <h3> Mobile Oil Change: <i> Pit crew comes to you for a change </i> <h3>
             <p>
             If you're reading this, we're guessing that your vehicle needs an oil change and you don't have time to bring it into a shop.
             That's what PitCrew is all about. Just click on the appointment button, run through what you need, and we do all the rest!
             We'll come to your home or work and perform all the services you need. Ready to get started?
             </p>

         </div>
         <div class="mdl-card__actions">
           <a href="#" class="mdl-button">Schedule an appointment</a>
         </div>
       </div>
     </section>

     <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
       <div class="mdl-card mdl-cell mdl-cell--12-col">
         <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
           <h4 class="mdl-cell mdl-cell--12-col">What we offer:</h4>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--primary"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5>Oil Change</h5>
             Pit Crew offers the right oil for your specific vehicle, not a one-size-fits-all approach. Each industry certified oil is available in conventional, synthetic, or a synthetic blend to meet your specific preferences.
           </div>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--primary"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5>Tire Pressure Check</h5>
             Every time Pit Crew pays you a visit, we will check your tire pressure and fill up your air if necessary.
           </div>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--primary"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5>Wiper Inspection</h5>
             Need a wiper change due to squeaking, streaking, or chatter? Let us know and we will be sure to get them replaced.
             Not sure? We'll check your wipers for tearing to be sure.
           </div>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--primary"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5> Air Filter Check</h5>
             Every oil check should include a check of your air filter and a replacement if necessary. This is especially true the longer you go between oil changes.
             Pit Crew always checks your car air filter and replaces it if a new one is needed.
           </div>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--primary"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5> Light Check </h5>
             Lights stop working, sometimes without you even knowing. That's dangerous at night and can lead to unecessary encounters with the police. Pit Crew will check all of your lights with each oil change.
           </div>
         </div>
         <div class="mdl-card__actions">
           <a href="#" class="mdl-button">Read our Services</a>
         </div>
       </div>
     </section>


     <section class="section--footer mdl-color--white mdl-grid">
       <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
         <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
       </div>
       <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
         <h5> AT PIT CREW, WE COME TO YOU FOR A CHANGE.</h5>
         By calling Pit Crew, you are getting so much more than an oil change , you are getting peace of mind.
         The peace of mind that you have your own team of mechanics who will come to you, where you live or work.
         The peace of mind in knowing that all of our services and features are offered to you at prices that beat our competition. Peace of mind knowing that Pit Crew's used oil is always recycled and our system is designed for a minimal impact on the planet we call home.
         Call Pit Crew today, and you'll be a customer for life.
       </div>
     </section>
   </div>

  </main>
