<main class="mdl-layout__content">
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col ">
    <div class="mdl-card__supporting-text mdl-grid ">
      <h3 class="mdl-cell mdl-cell--12-col mdl-typography--font-light">Services</h3>
    </div>
      <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">
        <thead>
          <tr><th class= "mdl-data-table__cell--non-numeric"><h5>Oil</h5></th>
            <th><h5>Fee</h5></th></tr>
          </thead>

        <tbody>
          <tr><td class = "mdl-data-table__cell--non-numeric"> Conventional oil change</td>
             <td>$40</td></tr>
          <tr><td class = "mdl-data-table__cell--non-numeric">High mileage oil change</td>
             <td>$52</td></tr>
          <tr><td class = "mdl-data-table__cell--non-numeric">Synthetic blend oil change</td>
             <td>$55</td></tr>
          <tr><td class = "mdl-data-table__cell--non-numeric">Full synthetic oil change</td>
             <td>$70</td></tr>
          <tr><td class = "mdl-data-table__cell--non-numeric"><i>*5 quarts and oil filter</i></td>
         </tbody>

      </table>

 </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid ">
      <h4 class="mdl-cell mdl-cell--12-col">Every oil change comes with these extras (all free!)</h4>
    </div>
      <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">

        <tbody>
          <tr><td class = "mdl-data-table__cell--non-numeric">  Tire pressure check and refill</td>

          <tr><td class = "mdl-data-table__cell--non-numeric"> Windshield wiper check</td>

          <tr><td class = "mdl-data-table__cell--non-numeric">Air filter check</td>

          <tr><td class = "mdl-data-table__cell--non-numeric">Light check</td>

          <tr><td class = "mdl-data-table__cell--non-numeric">Fluid top off</td>
         </tbody>
     </table>
 </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">Here's what else we charge for with your permission</h4>
    </div>
      <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-shadow--2dp">

        <tr><th class="mdl-data-table__cell--non-numeric"><h5>Service</h5></th>
          <th><h5>Fee</h5></th></tr>
        </thead>

      <tbody>
        <tr><td class = "mdl-data-table__cell--non-numeric"> Air filter replacement</td>
           <td>Starting at $16.99</td></tr>
        <tr><td class = "mdl-data-table__cell--non-numeric">Windshield wiper change:</td>
           <td>Conventional $15.99 (each) / Beam style $21.99 (each)</td>
        <tr><td class = "mdl-data-table__cell--non-numeric">Rain-X windshield treatment</td>
           <td>$3.99</td></tr>
        <tr><td class = "mdl-data-table__cell--non-numeric">Tire rotation</td>
           <td>$21.99</td></tr>
        <tr><td class = "mdl-data-table__cell--non-numeric">Light replacement</td>
           <td>Varies</td></tr>
        <tr><td class = "mdl-data-table__cell--non-numeric">Headlight lens restoration</td>
           <td>$49.99</td></tr>
       </tbody>
     </table>


 </div>
</section>

</main>
