// Place all the styles related to the multistep_form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  margin: 30px;
}

.checkbox {
  margin: 20px;
}

.section--footer .section__text p {
  margin: 1px 15px 10px;
  font-size: 18px;
}

.section--footer .section__text .button-group {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
}
